body {
    background-color: #EEEEEE;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
}

a {
    text-decoration: none;
    color: black;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #DDDDDD;
}

.cv-div,
.social-link-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.cv-div p {
    margin-top: 12px;
    margin-right: 20px;
}

.cv-button {
    color: white;
    background-color: black;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
}

.copy-button {
    color: black;
    background-color: white;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
}

.social-button {
    color: black;
    background-color: white;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

.skill-button {
    color: black;
    background-color: white;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 12px;
}

.social-link-div p {
    margin-top: 12px;
}

.header-div {
    background-color: #DDDDDD;
    padding: 5% 30px 10% 30px;
    border-radius: 0 0 80px 80px;
    text-align: center;

}

.header-div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-bottom: 20px;
}

.header-div h2,
.header-div h4 {
    margin-bottom: 20px;
}

.skill-div {
    background-color: #EEEEEE;
    padding: 6% 70px;
    border-radius: 0 0 80px 80px;
    text-align: center;
}

.project-div {
    background-color: #DDDDDD;
    padding: 6% 70px;
    text-align: center;
}

.project-card {
    padding: 20px;
    border: 1px solid black;
    width: 32%;
    margin: 5px;
}

.contact-wrapper {
    background-color: #DDDDDD;
}

.contact-div {
    border-radius: 80px 80px 0 0;
    text-align: center;
    padding: 6% 60px;
    background-color: #EEEEEE;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.rights p {
    margin-top: 12px;
}

.desktop {
    display: flex;
    /* Hidden by default */
}

.mobile {
    display: none;
    /* Shown by default */
}

@media (max-width: 768px) {
    .top-nav {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0 20px 0;
        background-color: #DDDDDD;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .desktop {
        display: none;
        /* Show on desktop */
    }

    .mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        /* Hidden on desktop */
    }

    .project-card {
        width: 100%;
    }

    .skill-button {
        margin-top: 5px;
    }
}